google-generativeai
speechbrain
torchaudio
pyaudio
soundfile
python-dotenv
vosk
pyttsx3
opencv-python
fer
pyautogui
requests
llama-cpp-python
sounddevice
numpy
plyer
beautifulsoup4
speedtest-cli
SpeechRecognition
